@{
    ViewData["Title"] = "Movie List";
}
<button> <a class="nav-link text-dark" asp-area="" asp-controller="HelloWorld" asp-action="Welcome">Welcome</a></button>
<h2>My Movie List</h2>

<p>Hello from our View Template!</p>